* {
  margin: 0 auto;
}
.list {
  text-align: center;
}
.Detail {
  display: flex;
  border-bottom: 1px lightgray;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.Detail_thumbnail img {
  max-width: 20rem;
  max-height: 20rem;
}
